h1, h2, h3, nav, button{
  font-family:'Press Start 2P', monospace;
}

h1{
  margin-top: 2rem;
}

body, p{
  font-family: 'Space Grotesk', sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 0;
  flex-wrap: wrap;
}

@media (max-width: 600px){
  h1{
    font-size: 1.5rem;
  }

  section h2 {
    font-size: 1rem;
  }

  .nav a{
    font-size: 0.6rem;
    padding: 0.7rem 1.2rem;
  }
  
  .window-frame{
    width: 90vw;
  }
}

.nav a{
  font-family: var(--font-pixel);
  font-size: 0.7rem;
  background-color: var(--color-button);
  border: 2px solid var(--color-button-border);
  border-radius: 999px;
  padding: 0.9rem 1.8rem;
  cursor: pointer;
  color: var(--color-text-dark);
}

.nav a:hover{
  background-color: var(--color-titlebar);
  color:var(--color-text-light);
}

.hero{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
}

.window-frame{
  width: min(90vw, 400px);
  border: 3px solid var(--color-button-border);
  background-color: var(--color-panel);
}

.window-titlebar{
  background-color: var(--color-titlebar);
  color: var(--color-text-light);
  font-family: var(--font-pixel);
  font-size: 0.75rem;
  text-align:center;
  padding: 0.9rem 0;
}

.window-body{
  padding: 1rem;
}

.window-body img{
  width: 100%;
  display: block;
  image-rendering: pixelated;
}

section{
  max-width: 700px;
  margin: 0 auto;
  padding: 3rem 1.5 rem;
  text-align: center;
}

section h2{
  font-family: var(--font-pixel);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

section p{
  font-family: var(--font-body);
  line-height: 1.6;
  font-size: 1rem;
}

.contact-buttons{
  display:flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.contact-btn{
  display:flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-body);
  font-size: 0.95rem;
  background-color: var(--color-button);
  border: 2px solid var(--color-button-border);
  border-radius: 999px;
  padding: 0.7rem 1.4rem;
  color: var(--color-text-dark);
  text-decoration: none;
}

.contact-btn:hover{
  background-color: var(--color-titlebar);
  color: var(--color-text-light);
}

.section{
  padding: 4rem 0;
  text-align: center;
  width: 100%;
}

.section-inner{
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section-about {
  background-color: var(--color-bg);
}

.section-projects{
  background-color: var(--color-panel);
  border-top: 3px solid var(--color-button-border);
  border-bottom: 3px solid var(--color-button-border);
}

.section-skills{
  background-color: var(--color-bg);
}

.section-contact{
  background-color: var(--color-titlebar);
  border-top: 3px solid var(--color-text-light);
}

.section-contact h2{
  color: var(--color-text-light);
}